<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Ext JS 4 Themes</title>
        <link rel="stylesheet" type="text/css" href="https://raw.github.com/NewbridgeGreen/extjs-theme-bootstrap/master/resources/css/bootstrap/bootstrap.css" />

        <!-- GC -->

        <script type="text/javascript" src="http://cdn.sencha.com/ext-4.1.1-gpl/ext-all.js"></script>
        <script type="text/javascript" src="https://raw.github.com/NewbridgeGreen/extjs-theme-bootstrap/master/examples/themes/themes.js"></script>
        <style>

            div#header {
                padding: 25px 0 10px 0;
                margin: 0 50px -5px 50px;
            }

            #header h1 {
                text-align: center;
                font-size: 52px;
            }

            #main-container {
				margin-left: 30px;
            }

            body {
                text-align: center;
                padding-bottom:10px;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <h1>Bootstrap for ExtJS</h1>
        </div>
    </body>
</html>