<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Twitter Bootstrap Theme for ExtJS | Viewer </title>
        <meta name="description" content="Twitter Bootstrap theme for Sencha ExtJS - Check out how your application could look here!">
        <link rel="stylesheet" type="text/css" href="https://raw.github.com/NewbridgeGreen/extjs-theme-bootstrap/master/resources/css/bootstrap/bootstrap.css" />

        <!-- GC -->

        <script type="text/javascript" src="http://cdn.sencha.com/ext-4.1.1-gpl/ext-all.js"></script>
        <script type="text/javascript" src="https://raw.github.com/NewbridgeGreen/extjs-theme-bootstrap/master/examples/themes/themes.js"></script>
        <style>

            div#header {
                padding: 25px 0 10px 0;
                margin: 0 50px -5px 50px;
            }

            #header h1 {
                text-align: center;
                font-size: 52px;
            }

            #main-container {
                margin-left: 30px;
            }

            body {
                text-align: center;
                padding-bottom:10px;
            }
        </style>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-31968166-2']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body>
        <div id="header">
            <h1>Bootstrap for ExtJS</h1>
        </div>
    </body>
</html>